$font: 'Montserrat', sans-serif;
$green: #417B5A;
$purple: #4B3A72;
$space: 0.05em;
$hovergreen: #295d3f;
$border: #857C8D;
$headersize: 9vh*0.75;
$navlink: #F8F2F4;
$navlinkhover: #e0dfdf;
$colors: #382b54, #f7aa35, #be217b, #f73535, #95c1da, #4babaf;
$key: random(6);
$avatarColor: nth($colors, $key);

%label {
  color: $border;
  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 26px;
  font-weight: 400;
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

%authtitle {
  font-size: 31px;
  font-weight: bold;
  letter-spacing: $space;
  color: $purple;
}

%center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%form-input {
  background: rgba(75, 58, 114, 0.05);
  border: 2px solid $border;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 20px;
  font-family: $font;
  font-size: inherit;
  color: $purple;

  &:focus {
    outline: none;
    border-color: $purple
  }
}

%form-submit {
  font-family: $font;
  width: 405px;
  height: 45px;
  background: #417B5A;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  border-radius: 5px;
  border: 0;
  transition: .2s linear;
  cursor: pointer;
  letter-spacing: $space;
  margin-top: 20px;

  &:hover {
    background: $hovergreen;
  }
}

%google {
  @extend %center;
  @extend %form-submit;
  height: 25px;
  width: 170px;
  justify-content: space-around;
  background: #ffffff;
  color: $purple;
  border: 0;

  &:hover {
    background: #ffffff;
    color: #28203d;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $font;
}

.auth-container {
  @extend %center;
  height: 90vh;
  width: 100vw;
  flex-direction: column;
}


.login {
  @extend %center;
  flex-direction: column;
  font-family: $font;
  height: 370px;
  width: 405px;
  justify-content: space-between;
}

.register {
  @extend %center;
  flex-direction: column;
  font-family: $font;
  height: 470px;
  width: 405px;
  justify-content: space-between;
}

.form-title {
  @extend %authtitle;
}


.form-label {
  @extend %label;
}

.form-input {
  height: 45px;
  width: 405px;
  @extend %form-input;
}

.submit {
  @extend %form-submit;
}

.google-button {
  @extend %google;
  margin-top: 50px;
}

.header {
  font-family: $font;
  width: 100%;
  height: 9.5vh;
  background: $green;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
  padding: 20px 80px;
  box-sizing: border-box;
}

.header {
  .logo {
    height: $headersize;
    width: $headersize;
  }

  .logo-img {
    width: 100%;
    height: 100%;
  }

  h2 {
    vertical-align: center;
    text-align: center;
  }

  html, body {
    margin: 0;
    height: 100%;
  }

  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 450px;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }

  .menu > a {
    font-weight: 700;
    text-decoration: none;
    font-size: 19px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.05em;
    color: $navlink;
    cursor: pointer;
    transition: .1s linear;

    &:hover {
      color: $navlinkhover;
    }
  }

  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle {
    display: none;
  }

  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }

  .menu-button::before {
    content: '';
    margin-top: -8px;
  }

  .menu-button::after {
    content: '';
    margin-top: 8px;
  }

  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0;
    transform: rotate(405deg);
  }

  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }

  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0;
    transform: rotate(-405deg);
  }

  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 12vh;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      height: auto;
    }
    #menu-toggle ~ .menu a {
      display: none;
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: .2s linear;
    }
    #menu-toggle:checked ~ .menu a {
      display: flex;
      border: 1px solid #333;
      height: 30px;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > a {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu > a:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatar {
  @extend %center;
  height: $headersize;
  width: $headersize;
  border-radius: 50px;
  background: $avatarColor;
  color: $navlink;
  font-weight: 700;
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.leaflet-container {
  width: 100%;
  height: 650px;
}

.page-container {
  padding: 20px 140px;
}

.content-container {
  padding: 0 100px 100px 100px;
}

.back {
  border-bottom: 1px solid #23272F;
  padding: 5px 0 10px 0;
  margin-bottom: 40px;
  box-sizing: border-box;
}

.back-link {
  font-weight: 500;
  font-size: 21px;
  line-height: 37px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
  text-decoration: none;
}

.arrow {
  margin-right: 10px;
}

.gray-container {
  min-height: 50vh;
  background-color: rgba(75, 58, 114, 0.1);
  border-radius: 5px;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.white-container {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  margin: 7.5px 0;
}

.first {
  border-radius: 5px 5px 0 0;
  margin: 0 0 7.5px 0;
}

.location-image-container {
  width: 100%;
  height: 45vh;
  @extend %center;
  overflow: hidden;
}

.location-image {
  width: 100%;
  height: auto;
}

.location-text {
  padding: 50px;
  box-sizing: border-box;
}

.text-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.rating {
  width: 33%;
  @extend %center;
  font-size: 42px;
}

.location-title {
  width: 67%;
  font-style: italic;
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.05em;
  color: #000000;
}

.text-description {
  font-weight: 400;
  font-size: 21px;
  line-height: 140%;
  color: #000000;
}

.add {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  box-sizing: border-box;
}

.add-text {
  font-weight: 500;
  font-size: 21px;
  line-height: 30px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: #000000;
  max-width: 65%;
}

.add-button {
  border: none;
  width: 40px;
  height: 40px;
  background: $green;
  border-radius: 25px;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  cursor: pointer;
  transition: .2s linear;

  &:hover {
    background: $hovergreen;
  }
}

.map-container {
  .leaflet-container {
    width: 100%;
    height: 60vh;
  }

  padding: 25px;
  box-sizing: border-box;
}

.comment-form {
  padding: 35px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}


.comment-input {
  width: 70%;
  max-height: 100%;
  border: none;
  border-bottom: 1px solid #000000;
  font-weight: 400;
  font-size: 21px;
  line-height: 19px;
  letter-spacing: 0.05em;
  padding-left: 20px;
  transition: .2s linear;

  &::placeholder {
    color: #D0D0D0;
  }

  &:focus {
    border-color: #23272F;
    outline: none;
  }
}

.comment-button {
  font-family: $font;
  background: $green;
  font-weight: 300;
  font-size: 20px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  height: 45px;
  width: 15%;
  transition: .2s linear;
  cursor: pointer;

  &:hover {
    background: $hovergreen;
  }
}

.comments {
  border-radius: 0 0 5px 5px;
  margin-bottom: 0;
}

.post-item-img-container {
  width: 100%;
  height: 60vh;
  @extend %center;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

.post-item_img {
  width: 100%;
  height: auto;
}

.item-text{
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
}

.last{
  border-radius: 0 0 5px 5px;
  margin: 15px 0 0 0;
}

.post-item_title{
  font-style: italic;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  display: flex;
  letter-spacing: 0.05em;
  color: #23272F;
  width: 70%;
}

.sorting-panel{
  border-bottom: 1px solid #23272F;
  padding: 5px 0 10px 0;
  margin-bottom: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.sort-item{
  margin: 0 10px;
  font-weight: 500;
  font-size: 21px;
  line-height: 37px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
  text-decoration: none;
  cursor:pointer;
}

.post-item{
  margin-bottom: 40px;
  cursor: pointer;
}

.post-item:last-child{
  margin-bottom: 0;
}


.gray {
  color: gray;
}
.yellow {
  color: yellow;
}
.ri-star-fill {
  font-size: 30px;
}

.admin-panel{
  border-bottom: 1px solid #23272F;
  padding: 5px 0 10px 0;
  margin-bottom: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.admin-panel-item{
  margin: 0 0 0 30px;
  font-weight: 500;
  font-size: 21px;
  line-height: 37px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
  text-decoration: none;
  cursor:pointer;
}

.add-form-container{
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.add-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 75vh;
  width: 60%;
}
.add-form-inputs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 350px;
}

.form-left{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 20px;
  box-sizing: border-box;
}

.location-name-input{
  width: 100%;
}

.add-form-label{
  display: flex;
  flex-direction: column;
  @extend %label;
}

.add-form-textarea{
  min-width: 100%;
  max-width: 100%;
  min-height: 85%;
  max-height: 85%;
  padding: 15px;
  resize: none;
}

.form-left{
  .first{
    height: 20%;
  }
  .last{
    height: 80%;
  }
}

.form-right{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 20px;
  box-sizing: border-box;
}

.form-right{
  .add-form-label{
    height: 30px;
  }

  .add-map{
    width: 100%;
    height: 85%;
    cursor:pointer;
  }
  .add-form-files-field{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 15%;
  }

}
.submit-container{
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  width: 100%;
}

.add-form-submit{
  width: 100%;
}


.add-files-button{
  @extend %center;
  height: 30px;
  width: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  background: $green;
  color: #FFFFFF;
  border-radius: 25px;
  cursor:pointer;
  transition: .2s linear;
  margin: 10px;
  &:hover{
    background: $hovergreen;
  }
}

.add-file-buton-none{
  display: none;
}

.error-message {
  color: #f73535;
}

.password-input {
  font-size: 40px;
}

.slide{
  max-height: 80vh;
  @extend %center
}

.slider-image{
  width: 100%;
  height: auto;
}

.slider-container{
  padding: 25px;
  box-sizing: border-box;
}

