$font: 'Montserrat', sans-serif;
$green: #417B5A;
$purple: #4B3A72;
$space: 0.05em;
$hovergreen: #295d3f;
$border: #857C8D;

%label {
  color: $border;
  font-size: 21px;
  letter-spacing: 0.05em;
  line-height: 26px;
  font-weight: 400;
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

%authtitle {
  font-size: 31px;
  font-weight: bold;
  letter-spacing: $space;
  color: $purple;
}

%center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%form-input {
  height: 55px;
  width: 405px;
  background: rgba(75, 58, 114, 0.05);
  border: 2px solid $border;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 20px;
  font-family: $font;
  font-size: inherit;
  color: $purple;
  &:focus{
    outline: none;
    border-color:$purple
  }
}

%form-submit {
  font-family: $font;
  width: 405px;
  height: 55px;
  background: #417B5A;
  color: #ffffff;
  font-weight: 500;
  font-size: 21px;
  line-height: 19px;
  border-radius: 5px;
  border: 0;
  transition: .2s linear;
  cursor: pointer;
  letter-spacing: $space;

  &:hover {
    background: $hovergreen;
  }
}

%google{
  @extend %center;
  @extend %form-submit;
  height: 25px;
  width: 200px;
  justify-content: space-around;
  background: #ffffff;
  color: $purple;
  border: 0;
  &:hover {
    background: #ffffff;
    color: #28203d;
  }
}

body {
  margin: 0;
  padding: 0;
}

.header{
  width: 100%;
  height: 12vh;
  background: $green;
}

.auth-container {
  @extend %center;
  min-height: 88vh;
  width: 100vw;
}

.login {
  @extend %center;
  flex-direction: column;
  font-family: $font;
  height: 410px;
  width: 405px;
  justify-content: space-between;
}
.register{
  @extend %center;
  flex-direction: column;
  font-family: $font;
  height: 510px;
  width: 405px;
  justify-content: space-between;
}

.form-title {
  @extend %authtitle;
}


.form-label {
  @extend %label;
}

.form-input {
  @extend %form-input;
}

.submit {
  @extend %form-submit;
}

.google-button{
  @extend %google;
}